# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
worker_rlimit_nofile 32768;
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 16384;
    multi_accept on;
    use epoll;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    include             /etc/nginx/mime.types;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;
 #
    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   3000;
    types_hash_max_size 8192;
    client_max_body_size 4G;
    fastcgi_buffer_size 8192k;
    fastcgi_buffers 1024 8192k;
    fastcgi_read_timeout 3000;
    fastcgi_send_timeout 3000;
    fastcgi_connect_timeout 3000;
    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;
    reset_timedout_connection on;
    gzip on;
    gzip_disable "MSIE [1-6]\.";

    # Only allow proxy request with these headers to be gzipped.
    gzip_proxied expired no-cache no-store private auth;

    # Default is 6 (1<n<9), but 2 -- even 1 -- is enough. The higher it is, the
    # more CPU cycles will be wasted.
    gzip_comp_level 9;
    gzip_min_length 500; # Default 20
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
#


    server {
        listen       80 default_server;
        listen       [::]:80 default_server;
        server_name  _;
        root         {{ root_path }};

        add_header X-Frame-Options "SAMEORIGIN"; 
        index index.php index.html index.htm;
        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;
        client_max_body_size 4G;
        proxy_read_timeout 3000;
        proxy_send_timeout 3000;
        proxy_connect_timeout 3000;
        send_timeout 3000;        
        fastcgi_buffer_size 8192k;
        fastcgi_buffers 4096 4096k;

        location ~ \.php$ {
         fastcgi_read_timeout 3000;        
         fastcgi_pass 127.0.0.1:9000;
         fastcgi_split_path_info ^(.+\.php)(/.+)$;
         fastcgi_index index.php;
         include fastcgi_params;
         fastcgi_buffer_size 8192k;
         fastcgi_buffers 4096 8192k;
         proxy_connect_timeout 3000;
         proxy_send_timeout 3000;
         proxy_read_timeout 3000;
         send_timeout 3000;
         fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
         fastcgi_param PATH_INFO $fastcgi_path_info;
        }

	error_page 404 /404.html;
	        location = /404.html {
            }
	error_page 500 502 503 504 /50x.html;
            location = /50x.html {
            }
     
    }
# Settings for a TLS enabled server.
#
#    server {
#        listen       443 ssl http2 default_server;
#        listen       [::]:443 ssl http2 default_server;
#        server_name  _;
#        root         /usr/share/nginx/html;
#
#        ssl_certificate "/etc/pki/nginx/server.crt";
#        ssl_certificate_key "/etc/pki/nginx/private/server.key";
#        ssl_session_cache shared:SSL:1m;
#        ssl_session_timeout  10m;
#        ssl_ciphers HIGH:!aNULL:!MD5;
#        ssl_prefer_server_ciphers on;
#
#        # Load configuration files for the default server block.
#        include /etc/nginx/default.d/*.conf;
#
#        location / {
#        }
#
#        error_page 404 /404.html;
#        location = /404.html {
#        }
#
#        error_page 500 502 503 504 /50x.html;
#        location = /50x.html {
#        }
#    }

}

 
