# Volume to be used for Minio server.
#MINIO_VOLUMES=http://mnode{1...4}/data
# Use if you want to run Minio on a custom port.
MINIO_OPTS="--address :{{ minio_port }} 
#--certs-dir /home/minio/.minio/certs/"
# Access Key of the server.
MINIO_ACCESS_KEY={{ admin_name }}
# Secret key of the server.
MINIO_SECRET_KEY={{ admin_pass }}
MINIO_ROOT_USER={{ admin_name }}
MINIO_ROOT_PASSWORD={{ admin_pass }}
